.daily-weather-card {
    margin: 24px 0;
    padding: 12px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px #bcbcbc;

    .weather-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .day-date {
        text-transform: uppercase;

        .day {
            font-size: 20px;
            font-weight: bold;
        }

        .date {
            font-size: 14px;
            color: gray;
        }

        &.less-info {
            width: 20%;
        }
    }

    .temp-wrapper {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 20px;

        span {
            font-weight: bold;
        }
    }

    .weather-condition {
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
        // color: lightgray;
        font-weight: lighter;
    }

    .more-detail {
        cursor: pointer;
        img {
            height: 24px;
        }
    }
}

.daily-detail {
    padding: 0;

    .card-heading {
        padding-left: 0;
        padding-right: 0;

        .more-detail {
            img {
                transform: rotate(180deg);
            }
        }
    }

    .card-content {
        padding: 0;
    }

    .temp-wrapper {
        width: 100%;

        span {
            font-weight: lighter;
        }
    }
}

.hourly-weather-card {
    margin: 12px 0;
    padding: 18px;
    background-color: white;

    .weather-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img-container {
            width: 8%;
        }

        .temp {
            width: 15%;
            text-align: center;
        }

        .hourly-item {
            text-align: center;
            width: 12%;

            img {
                height: 30px;
                width: 30px;
            }

            .item-title {
                font-size: 14px;
                font-weight: normal;
                color: lightgray;
            }
        }
    }
}