.header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
}

.home-banner {
    height: 450px;
    background-color: $primaryColor;
    color: $accentColor;

    .logo {
        color: $accentColor;
    }

}