.home-banner {
    .header-search {
        display: none;
    }
}

.recent-wrapper {
    padding-top: 0;
}

.location-heading {
    font-size: 20px;
    padding: 12px 0;
}

.recent-locations {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

    a {
        text-decoration: none;
        color: black;
    }

}

.current-city-card {
    height: 150px;
    width: 200px;
    background-color: white;
    border-radius: 8px;

    &:hover {
        box-shadow: 2px 2px 8px 5px #c2c2c2;
    }

    .city-name {
        padding: 12px 12px 0 12px;
        font-weight: bold;
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .country-name {
        padding: 0 12px;
        color: gray;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .temp {
        padding: 0 12px;
        display: flex;
        align-items: center;

        span {
            font-size: 26px;
            font-weight: bold;
        }
    }
    .real-temp {
        padding: 0 12px 12px 12px;
        font-size: 14px;
        color: gray;
    }
}