$primaryColor : #191970;
$accentColor : #FFFAFA;

$primaryFont: 'Nunito', sans-serif;
$secondaryFont: 'Kaushan Script', cursive;

@import "./component/comman.scss";
@import "./pages/home/home.scss";
@import "./pages/city/city.scss";
@import "./pages/favourite/favourite.scss";
@import "./pages/dailyWeather/dailyWeather.scss";